.gif {
    color: #06d2b4;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.gif img {
    width: 100%;
    object-fit: contain;
    vertical-align: top;
    cursor: pointer;
}

.gif-buttons{
    display: flex;
    justify-content: flex-start;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
}

.gif-title {
    color: #FFF;
    padding: 2px 10px 2px 2px;
    background: #282C34;
    opacity: 50%;
    font-size: 10px;
    position: absolute;
    bottom: -13px;
    left: 0px;
}
.gif, .gif-link {
    height: 100%;
}

.gif-link img {
    height: inherit;
    object-fit: cover;
}