.searchForm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
}
  
.searchForm input {
    border-radius: 2px;
    padding: 1rem 1rem;
    border: none;
    font-size: 1rem;

}
  
.searchForm select {
    border-radius: 2px;
    margin-left: 8px;
    padding: 1rem 1rem;
    border: none;
    font-size: 1rem;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    width: 250px;
}



@media only screen and (max-width: 600px) {
    .searchForm {
        flex-direction: column;
        justify-content: space-between;
    }

    .searchForm input {
        margin-bottom: 6px;
    }
    .searchForm select {
        margin-bottom: 6px;
        margin-left: 0;
    }
}