.giffy-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #241F21;
    padding: 10px;
}

.giffy-header a {
    color: #fff;
    margin: 0 12px;
}

.giffy-header a:hover {
    text-decoration: underline;
}

.nv-logout-button{
    padding: 0;
    background-color: transparent;
    font-size: 32px;
}

.nv-logout-button:hover {
    text-decoration: underline;
    background-color: transparent;
}

.app-logo {
    width: 1rem;
    min-width: 60px;
    border-radius: 60px;
    object-fit: contain;
}
.app-logo:hover {
    box-shadow: 1px 1px 2px #06d2b2;
    cursor: pointer;
}

