.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
    align-items: center;
}

.loginForm input {
    border-radius: 2px;
    padding: 1rem 1rem;
    border: none;
    font-size: 1rem;
    margin: 6px;
}

.loginForm button {
    margin-top: 15px;
}

.login-error-message {
   color: #442827;
   font-weight: bolder;
   border-radius: 20px;
   margin-bottom: 10px;
   background: #F6A7A3;
   padding: .5rem 3rem;

}

.login-waiting-message {
   color: #282C34;
   margin-bottom: 10px;
   background: #A1E4BA;
   border-radius: 20px;
    padding: 1rem 2rem;
}
.error-input {
    border: 2px solid #8E120E!important;
}
@media only screen and (max-width: 600px) {
    .login-error-message, .login-waiting-message {
        width: 1rem 1rem
    }
    
}
